{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/boolean-prop-naming": [
      "error",
      { "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+" }
    ],
    "camelcase": "off",
    "prettier/prettier": 0
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "latest"
    }
  }
}
